.container {
  display: flex;
  flex-direction: column;
}

.container input, textarea, select { 
  width: 100%;
  padding: 10px;
  font-size: 13px;
  resize: vertical;
  border-radius: 5px;
  margin: 7px 0px 14px 0px;
  border: 1px solid;
  border: 1px solid;
  font-family: canada-type-gibson, sans-serif;
}

.container button {
  color: #006D77;
  font-weight: 600;
  width: 100%;
}