main {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  padding: 10px;
  align-items: center;
  margin-top: 20px;
  /* background-color: #EAE1DF; */
}

.cardImg {
  width: 120px;
  height: 120px;
}

.cards {
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  margin-top: 20px;
}

.cards > a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 280px;
  height: 180px;
  margin-bottom: 10px;
  background-color: #FFFF;
  border: 0.5px solid black;
}

p {
  margin: 10px 0 0 0;
}

h1 {
  text-align: center;
}