.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 2px solid #E29578;
  border-radius: 10px;
  margin: 8px;
  box-shadow: -1px 5px 19px -5px rgba(0,0,0,0.25);
  -moz-box-shadow: -1px 5px 19px -5px rgba(0,0,0,0.25);
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
}