.editForm {
  padding: 12px 0 19px 0;
}

.container {
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 2px solid #E29578;
  border-radius: 10px;
  margin: 8px;
}

.editForm input, textarea { 
  width: 100%;
  padding: 10px;
  font-size: 13px;
  resize: vertical;
  border-radius: 5px;
  margin: 7px 0px 14px 0px;
  border: none;
  font-family: canada-type-gibson, sans-serif;
}

.container label {
  font-weight: 600;
  margin: 7px 0px 14px 0px;
}

.container button {
  color: #006D77;
  font-weight: 600;
  width: 100%;
}

#checkbox {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

#checkbox > input {
  width: 30px;
  margin: 0;
}

#checkbox > label {
  margin-bottom: 0;
  font-weight: normal;
  margin-top: 0;
}