.container {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  height: 40px;
  margin: 8px;
  border: 2px solid #006D77;
  font-family: 'Palanquin', sans-serif;
}

.navdiv {
  margin: 8px;
}

div > a {
  color: black;
  text-decoration: none;
  padding: 7px;
  margin: 5px;
  border-radius: 15px;
}

div > a:hover {
  color: black;
  cursor: pointer;
}

@media only screen and (min-width: 900px) {
  div > a {
    margin: 10px;
  }
}

@media only screen and (min-width: 1200px) {
  div > a {
    margin: 20px;
  }
}

@media only screen and (min-width: 1500px) {
  div > a {
    margin: 30px;
  }
}