.container {
  display: flex;
  flex-direction: column;
  margin-top: 0;
}

.form input, textarea { 
  width: 100%;
  padding: 10px;
  font-size: 13px;
  resize: vertical;
  border-radius: 5px;
  margin: 7px 0px 14px 0px;
  border: 1px solid;
  font-family: canada-type-gibson, sans-serif;
}

.form textarea {
  border: 1px solid;
}

.container button {
  color: #006D77;
  font-weight: 600;
  width: 100%;
}

#checkbox {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

#checkbox > input {
  width: 30px;
  margin: 0;
}

#checkbox > label {
  margin-bottom: 0;
}