form {
  padding: 12px 0 19px 0;
}

.container {
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 2px solid #E29578;
  border-radius: 10px;
  margin: 8px;
  font-family: 'Palanquin', sans-serif;
}

.container input { 
  width: 100%;
  padding: 10px;
  font-size: 13px;
  resize: vertical;
  border-radius: 5px;
  margin: 7px 0px 14px 0px;
  border: 1px solid var(--border);
  font-family: canada-type-gibson, sans-serif;
}

.container label {
  font-weight: 600;
  margin: 7px 0px 14px 0px;
}

.container button {
  color: #006D77;
  font-weight: 600;
  width: 100%;
  margin-bottom: 8px;
}

@media only screen and (min-width: 900px) {
  .container {
    padding: 30px;
  }
}

@media only screen and (min-width: 1200px) {
  .container {
    padding: 40px;
  }
}

@media only screen and (min-width: 1500px) {
  .container {
    padding: 60px;
  }
}